{% extends "::front.html.twig" %}

{% block title %}
    {{ parent() }}FAQ
{% endblock %}


{% block content %}
    <article class="waBlock">
        <div class="container">
            <h1>FAQ</h1>
            <p>TODO</p>
        </div>
    </article>
{% endblock %}
