{% extends "::front.html.twig" %}

{% block title %}
    {{ parent() }}Histoire de WeArt
{% endblock %}


{% block content %}
    <article class="waBlock">
        <div class="container">
            <h1>Identité</h1>
            <p>Le site internet WeArt a pour objectif de promouvoir la créativité artistique de la région picarde.</p>
            <p>Cette plateforme sert d’intermédiaire entre les étudiants et les associations artistiques, écoles d’art, artistes indépendants, etc.
                Nous stimulons la créativité des picards tout en consolidant les différentes activités artistiques et culturels déjà existants.
                Ce site internet permet un espace d’échange inédit où artistes et profanes fusionnent dans un magma créatif unique.</p>

            <p>Le concept WeArt est né à l’Université Technologique de Compiègne. Le projet c’est formalisé et a été défini dans le cadre 
                du cours GE37 (Gestion de projet). La réalisation du site internet a été assurée en LO18 (Projets Multimédia Educatif). 
                Le site sera donc prêt en fin d’année et l’association souhaiterait être active en A14.</p>
        </div>
    </article>
    <article class="waBlock">
        <div class="container">

            <h2>Bureau WeArt :</h2>
            <p>Président : Antony ROUHBAN<br />
                Vice-Président : Bruno DEVAUX<br />
                Trésorier : Kevin BLAIZE<br />
                Secrétaire Général : poste à pourvoir<br />
                Responsable Communication : poste à pourvoir<br />
                Responsable Partenariats : poste à pourvoir<br />
                Responsable Logistique : poste à pourvoir<br />
                Membres d’honneurs (participent au choix des thèmes) :<br />

                -          A pourvoir</p>
        </div>
    </article>
    <article class="waBlock">
        <div class="container">


            <p>WeArt tient tout particulièrement à remercier les personnes suivantes, sans qui nous n’existerions pas :</p>

            <p>GE37 :<br />
                Enseignant chargé du groupe : David REGNARD<br />
                Porteur du projet : Dominique SEMREN (responsable des projets culturels au CROUS Picardie d’Amiens).<br />
                Chef de Projet : Antony ROUHBAN<br />
                Référent Artistique : Antoine LAURENT<br />
                Responsable Communication : Sarah OURO-YONDOU<br />
                Responsable Economique : Rita SERRA<br />
                Responsable Technique : Céline TO</p>

            <p>LO18 :<br />
                Enseignant chargé du groupe : Philippe TRIGANO<br />
                Porteur du projet : Antony ROUHBAN<br />
                Chef du Projet : Bruno DEVAUX<br />
                Développeuse : Pauline BEURIER<br />
                Graphiste : Sylvain LAGACHE<br />
                Scénarisation : Colin GILLE</p>

            <p>Merci également :<br />
                -          Aux membres du Pôle Artistique Evènementiel et du Bureau des Etudiants de l’UTC au semestre de printemps 2014 pour leurs soutiens et conseils.<br />

                -          Aux membres du forum d’échange ayant portés conseil lors de l’élaboration du projet en GE37</p>
        </div>
    </article>
{% endblock %}
