{% extends "::front.html.twig" %}

{% block title %}
    {{ parent() }}Histoire de WeArt
{% endblock %}


{% block content %}
    <article class="waBlock">
        <div class="container">
            <div class="col-md-12 newsContainer">
            <h1>Identité</h1>
            <p>Le site internet WeArt a pour objectif de promouvoir la créativité artistique de la région picarde.</p>
            <p>Cette plateforme sert d’intermédiaire entre les étudiants et les associations artistiques, écoles d’art, artistes indépendants, etc.
                Nous stimulons la créativité des picards tout en consolidant les différentes activités artistiques et culturels déjà existants.
                Ce site internet permet un espace d’échange inédit où artistes et profanes fusionnent dans un <strong>magma créatif unique</strong>.</p>

            </div>
        </div>
    </article>
    <article class="waBlock">
        <div class="container">
            <div class="col-md-12 newsContainer">
                <h1>Création</h1>
            <p>Le concept WeArt est né à l’<strong>Université Technologique de Compiègne</strong>. Le projet s’est formalisé et a été défini dans le cadre 
                du cours GE37 (Gestion de projet). La réalisation du site internet a été assurée en LO18 (Projets Multimédia Educatif). 
                Le site sera donc prêt en fin d’année universitaire et l’association souhaiterait être pleinement active dès le début du semestre d'automne 2014.</p>
            </div>
        </div>
    </article>
    <article class="waBlock">
        <div class="container">
            <div class="col-md-12 newsContainer">
                <h1>Remerciements</h1>
            <p class="no-indent">WeArt tient tout particulièrement à <strong>remercier</strong> les personnes suivantes, sans qui nous n’existerions pas :</p>

            <p ><strong>GE37 :</strong><br />
                Enseignant chargé du groupe : <strong><a href="https://www.linkedin.com/pub/david-regnard/50/365/2b5" target="_blank">David REGNARD</a></strong><br />
                Porteur du projet : <strong><a href="https://www.linkedin.com/pub/dominique-dominique-semren/54/8a7/a59" target="_blank">Dominique SEMREN</a></strong> (responsable des projets culturels au CROUS Amiens-Picardie).<br />
                Chef de Projet : <strong><a>Antony ROUHBAN</a></strong><br />
                Référent Artistique : <strong><a>Antoine LAURENT</a></strong><br />
                Responsable Communication : <strong><a href="fr.linkedin.com/pub/sarah-ouro-yondou/78/76/37a" target="_blank">Sarah OURO-YONDOU</a></strong><br />
                Responsable Economique : <strong><a>Rita SERRA</a></strong><br />
                Responsable Technique : <strong><a href="http://fr.linkedin.com/pub/celine-to/77/13/3aa" target="_blank">Céline TO</a></strong></p>

            <p><strong>LO18 :</strong><br />
                Enseignant chargé du groupe : <strong><a href="https://www.hds.utc.fr/~ptrigano/dokuwiki/doku.php?id=fr:accueil" target="_blank">Philippe TRIGANO</a></strong> (responsable de branche Génie Informatique de l'UTC)<br />
                Porteur du projet : <strong><a>Antony ROUHBAN</a></strong><br />
                Chef du Projet : <strong><a href="http://fr.linkedin.com/in/bdevaux/" target="_blank">Bruno DEVAUX</a></strong><br />
                Responsable Développement : <strong><a href="http://www.linkedin.com/pub/pauline-beurier/80/b/ba9" target="_blank">Pauline BEURIER</a></strong><br />
                Responsable Graphisme : <strong><a>Sylvain LAGACHE</a></strong><br />
                Responsable Scénarisation : <strong><a>Colin GILLE</a></strong></p>

            <p><strong>Merci également :</strong><br />
                -          Aux membres du <strong><a href="http://assos.utc.fr/asso/bde" target="_blank">Bureau des Etudiants</a></strong> et du <strong><a href="http://assos.utc.fr/asso/poleae" target="_blank">Pôle Artistique Evènementiel</a></strong> de l’UTC au semestre de printemps 2014 pour leurs soutiens et conseils.<br />

                -          Aux membres du <strong><a href="http://projet.plateforme.clicforum.com/" target="_blank">forum d’échange</a></strong> ayant portés conseil lors de l’élaboration du projet en GE37</p>
        </div>
        </div>
    </article>
    <article class="waBlock">
        <div class="container">
            <div class="col-md-12 newsContainer">
            <h2>Bureau actuel de l'association WeArt au sein de la fédération BDE-UTC:</h2>
            <p class="no-indent">Président : <strong><a>Antony ROUHBAN</a></strong><br />
                Vice-Président : <strong><a href="http://fr.linkedin.com/in/bdevaux/" target="_blank">Bruno DEVAUX</a></strong><br />
                Trésorier : <strong><a>Kevin BLAIZE</a></strong><br />
                Secrétaire Général : poste à pourvoir<br />
                Responsable Communication : poste à pourvoir<br />
                Responsable Partenariats : poste à pourvoir<br />
                Responsable Logistique : poste à pourvoir<br />
                Membres d’honneurs (participent au choix des thèmes) :<br />

                -          A pourvoir</p>
            </div>
        </div>
    </article>
    <article class="waBlock">
        <div class="container">
            <div class="col-md-12 newsContainer">
                <h1>Conception</h1>
            <p>Pour les plus curieux, l'ensemble des documents liés à la conception du site sont publiquement et gratuitement accessible en ligne.</p>
            <p>(Liens directs à venir très prochainement)</p>
            </div>
        </div>
    </article>
{% endblock %}
