{% extends "::front.html.twig" %}

{% block title %}
    {{ parent() }}Règlement
{% endblock %}


{% block content %}
    <article class="waBlock">
        <div class="container">
            <div class="col-md-12 newsContainer">
                <h1>Responsabilités</h1>
                <h2>Propriétaire : <a href="http://assos.utc.fr/asso/weart" target="_blank">association WeArt</a></h2> 
                <p>Statut associatif : délégation à but non lucratif du <a href="http://assos.utc.fr/asso/poleae" target="_blank">Pôle Artistique Evènementiel</a> du <a href="http://assos.utc.fr/asso/bde" target="_blank">Bureau Des Etudiants</a> de l'<a href="http://www.utc.fr/" target="_blank">Université de Technologie de Compiègne</a>.</p>

                <h2>Administrateur : Equipe informatique de l'association WeArt</h2>

                <h2>Hébergeur : <a href="http://assos.utc.fr/asso/simde" target="_blank">SiMDE</a></h2>
            </div>
        </div>
    </article>
    <article class="waBlock">
        <div class="container">
            <div class="col-md-12 newsContainer">
                <h1>Réalisation</h1>
                <p class="no-indent">
                    Ce site a été intégralement réalisé par des étudiants de l’<strong>Université de Technologie de Compiègne</strong>.
                </p>
                <p class="no-indent">
                    Pour plus d'informations à ce sujet, n'hésitez pas à consulter la rubrique "<a href="{{ path('wa_front_identity') }}" target="_blank">Qui sommes nous ?</a>" en <strong>bas de page</strong>.
                </p>
            </div>
        </div>
    </article>
    <article class="waBlock">
        <div class="container">
            <div class="col-md-12 newsContainer">
                <h1>Propriété intellectuelle et Droits d’auteurs. </h1>
                <p>En tant qu’espace de création artistique, WeArt doit se soucier de la propriété intellectuelle de ses artistes.</p>

                <h3>Quelques explications :</h3>
                <p>
                    La propriété intellectuelle est protégée par la loi, par exemple au moyen de brevets, de droits d’auteur et d’enregistrements de marques.
                </p>
                <p>
                    Dans notre cas de figure, ce sont les droits d’auteur qui nous intéressent.
                </p>
                <p>
                    C’est le Code de la Propriété Intellectuelle (CPI) qui définit la Propriété Littéraire et Artistique (PLA).
                    En étudiant le CPI de plus près, on trouve deux cas de figure : l’artiste seul ou avec un contrat d’édition.</p>
                </p>

                <h3>L’artiste seul</h3>

                <p>
                    « L'auteur d'une œuvre de l'esprit jouit sur cette œuvre, du seul fait de sa création, d'un droit de propriété incorporelle exclusif et opposable à tous. » [Article L111-1 du CPI]
                    « La qualité d'auteur appartient, sauf preuve contraire, à celui ou à ceux sous le nom de qui l'œuvre est divulguée. » [Article L113-1 du CPI] 
                </p>

                <p>
                    Au sens présent du code, sont considérés notamment comme œuvres de l'esprit :<br >                « La qualité d'auteur appartient, sauf preuve contraire, à celui ou à ceux sous le nom de qui l'œuvre est divulguée. » [Article L113-1 du CPI] 
                </p>
                <ol>
                    <li>Les livres, brochures et autres écrits littéraires, artistiques et scientifiques.</li>
                    <li>Les conférences, allocutions, sermons, plaidoiries et autres œuvres de même nature.</li>
                    <li>Les œuvres dramatiques ou dramatico-musicales.</li>
                    <li>Les œuvres chorégraphiques, les numéros et tours de cirque, les pantomimes, dont la mise en œuvres est fixée par écrit ou autrement.</li>
                    <li>Les compositions musicales avec ou sans paroles ;
                    <li>Les œuvres cinématographiques et autres œuvres consistant dans des séquences animées d'images, sonorisées ou non, dénommées ensemble œuvres audiovisuelles.</li>
                    <li>Les œuvres de dessin, de peinture, d'architecture, de sculpture, de gravure, de lithographie.</li>
                    <li>Les œuvres graphiques et typographiques.</li>
                    <li>Les œuvres photographiques et celles réalisées à l'aide de techniques analogues à la photographie.</li>
                    <li>Les œuvres des arts appliqués.</li>
                    <li>Les illustrations, les cartes géographiques</li>
                    <li>Les plans, croquis et ouvrages plastiques relatifs à la géographie, à la topographie, à l'architecture et aux sciences</li>
                    <li>Les logiciels, y compris le matériel de conception préparatoire</li>
                    <li>Les créations des industries saisonnières de l'habillement et de la parure. Sont réputées industries saisonnières de l'habillement et de la parure les industries qui, en raison des exigences de la mode, renouvellent fréquemment la forme de leurs produits, et notamment la couture, la fourrure, la lingerie, la broderie, la mode, la chaussure, la ganterie, la maroquinerie, la fabrique de tissus de haute nouveauté ou spéciaux à la haute couture, les productions des paruriers et des bottiers et les fabriques de tissus d'ameublement.</li>
                </ol>

                N.B : l’artiste peut choisir de mettre son œuvre sous licence Créative Commons (CC). Dans ce cas, l’œuvre peut être partagée et modifiée sous certaines conditions :
                <ul>
                    <li>La nouvelle œuvre doit être attribuée d’une manière spécifiée par l’artiste d’origine (qui n’a évidemment pas le droit de s’approprier la nouvelle œuvre).</li>
                    <li>La nouvelle œuvre doit également être sous licence CC ou similaire.</li>
                </ul>

                <h3>L’artiste avec un contrat d’édition</h3>

                Un auteur peut céder, sous certaines conditions, ses droits d’auteur :<br></br>
                « Le contrat d'édition est le contrat par lequel l'auteur d'une œuvre de l'esprit ou ses ayants droit cèdent à des conditions déterminées à une personne appelée éditeur le droit de fabriquer ou de faire fabriquer en nombre des exemplaires de l'œuvre, à charge pour elle d'en assurer la publication et la diffusion. » [Article L132-1 du CPI]

                <br></br>Par conséquent :
                Les termes concernant les droits d’auteurs sur les œuvres réalisées par le processus de création WeArt seront définies au cas par cas. 
                Par exemple :
                <ul>
                    <li>Une peinture est réalisée suite à l’élection d’une idée pour un thème : le ou les artistes possède(nt) la propriété intellectuelle même si l’œuvre est donnée au contributeur ayant eu l’idée.</li>
                    <li>Une œuvre à grand potentiel commercial est réalisée suite à l’élection d’une idée pour un thème : WeArt à la priorité sur un éventuel contrat d’édition. Les bénéfices sont partagés entre toutes les parties prenantes.</li>
                </ul>
                Les idées proposées en réponse à un thème ne sont pas sujet à la propriété intellectuelle. Le contributeur doit juger par lui-même la quantité d’information qu’il souhaite partager dans l’espoir de voir son idée se réaliser. Par conséquent, un visiteur qui souhaite utiliser une idée proposée pour un thème est dans son droit : WeArt se veut également être une source d’inspiration pour les artistes. 

                Toutes les autres données (textes, commentaires, ouvrages, documents, illustrations, œuvres et images y compris les documents téléchargeables et les représentations iconographiques et photographiques) reproduites ou représentées sur le présent site sont strictement réservées au titre du droit d'auteur ainsi qu'au titre de la propriété intellectuelle et pour le monde entier.
                A ce titre et conformément aux dispositions du code de la propriété intellectuelle, seule l'utilisation pour un usage privé sous réserve de dispositions différentes, voire plus restrictives, du code de la propriété intellectuelle est autorisée. Toute reproduction ou représentation totale ou partielle du site ou d’éléments se trouvant sur le site est strictement interdite sauf autorisation préalable écrite et expresse, avec indication de l'auteur et du nom de domaine. 

                Les informations et communiqués publiés dans ce site sont non contractuels. Le contenu mis à disposition sur le présent site est fourni à titre informatif. Les informations de ce site peuvent contenir des inexactitudes techniques ou des erreurs typographiques. Ces informations peuvent être périodiquement modifiées.

                L'existence d'un lien du site vers un autre site ne constitue pas une validation de ce site ou de son contenu. Il appartient à l'internaute d'utiliser ces informations avec discernement et esprit critique. La responsabilité de l'éditeur ne saurait être engagée quant aux informations, opinions et recommandations formulées par ces tiers.

                <h2>Droits d’accès, de modification et de suppression</h2>
                Le site de WeArt garantit la confidentialité des données transmises lors de l'inscription au site. Les données personnelles collectées sur ce site sont à l'usage du propriétaire. L'utilisateur dispose conformément à l'article 34 de la loi "Informatique et Libertés" du 6 janvier 1978, d'un droit d'accès, de modification, de rectification et de suppression des données qui le concerne. Il peut, à tout moment, demander que ses contributions soient effacées en contactant l’administrateur par courrier.
                Le site n'utilisera pas ces données pour un usage commercial ni ne les cédera à un tiers sans l'autorisation expresse de l'utilisateur.

                Nous vous informons de la présence de cookies de session. Un cookie de session est un fichier texte qui se crée sur votre ordinateur. Ce fichier texte a une durée de vie limitée et se détruit à la fin de votre consultation. Aucune des données stockées de votre ordinateur ne sont inscrites dans ces cookies de session. A chaque fois que vous changez de page, ce fichier texte permet au serveur de vous reconnaître en toute sécurité. Sans cookie de session, vous devriez vous identifier à chaque changement de page. La désactivation de ces cookies de session interdit l'accès à votre espace personnel.

                Nous vous informons également de la présence d'un cookie non détruit à la fin de votre consultation. Ce cookie nous permet d'affiner l'analyse de la fréquentation de notre site. Tous les résultats obtenus sont compilés et totalement anonymes. Dans tous les cas, vous avez le contrôle de ces cookies. Vous avez la possibilité de les lire, de les filtrer, de les refuser et de les détruire dans la configuration de votre navigateur interne comme suit :

                Sous Internet Explorer : Menu « Outils > Options Internet ». Cliquez sur « Confidentialité » et choisissez « Bloquer tous les cookies ». Validez sur « OK ».
                Sous Mozilla Firefox : Menu « Outils > Options. Cliquez sur l'option « Vie privée » puis désactivez les cookies dans la rubrique « Cookies ».

                <h2>Conditions pour l’exposition des œuvres.</h2>
                L’artiste réalisant l’œuvre et le contributeur ayant eu l’idée s’engagent à accepter l’exposition de l’œuvre pendant une période indéterminée et autant de fois que nécessaire (le transport étant aux frais de WeArt). Ces expositions ont pour but de promouvoir l’œuvre, l’artiste, le contributeur, le projet WeArt et l’Art.
        </div>
    </article>
{% endblock %}
