{% extends "::front.html.twig" %}

{% block title %}
	{{ parent() }}Ajout Article
{% endblock %}

{% block content %}

<h3>Ajouter un article</h3>

<div class="well">
	<form method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<span class="out-bt"><button type="submit" class="btn btn-primary">Ajouter</button></span>
	</form>
</div>
{% endblock %}