{% extends "::front.html.twig" %}

{% block title %}
	{{ parent() }}Ajout Theme
{% endblock %}

{% block content %}

<h3>Ajouter un thème de la semaine</h3>

<div class="well">
	<p>Le site a été vidé !!</p>
	
	<p>
        <a href="{{ path('wa_fill_site') }}">Remplir le site</a>
    </p>
</div>
{% endblock %}