{% extends "::front.html.twig" %}

{% block title %}
	{{ parent() }}Ajout Theme
{% endblock %}

{% block content %}


<div class="waBlock">
	<div class="container">
		<h1>Ajout automatique de contennu</h1>
		
		<p>Le site a été rempli.</p>
	</div>
</div>

{% endblock %}