{% extends "::front.html.twig" %}

{% block title %}
	{{ parent() }}Espace d'administration
{% endblock %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <p>
            {{ flashMessage }}
        </p>
    {% endfor %}
    <h1>Espace d'admninistration</h1>
    <p>
        <a href="{{ path('wa_add_article') }}">Ajouter un article</a>
    </p>
    <p>
        <a href="{{ path('wa_add_theme') }}">Ajouter un thème</a>
    </p>
{% endblock %}

