{% extends "::front.html.twig" %}

{% block title %}
	{{ parent() }}Ajout Theme
{% endblock %}

{% block content %}

<h1>Consultation des thèmes</h1>

<table class="table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Intitulé</th>
			<th>Idée</th>
			<th>Prop.</th>
			<th>Votes.</th>
		</tr>
	</thead>
	<tbody>
		<tr class="beforeLnk">
			<th colspan="6">Voir les thèmes précedents</th>
		</tr>
		
		<tr>
			<td>2014 - 9</td>
			<td>Les nuage</td>
			<td>32 / <span class="bad">+0%</span></td>
			<td>5482 / <span class="bad">+0%</span></td>
			<td>5 / <span class="bad">+0%</span></td>
		</tr>
		<tr>
			<td>2014 - 10</td>
			<td>Le rève</td>
			<td>40 / <span class="good">+1%</span></td>
			<td>5872 / <span class="good">+2%</span></td>
			<td>3 / <span class="bad">-40%</span></td>
		</tr>
		<tr>
			<td>2014 - 11</td>
			<td>Les oiseaux</td>
			<td>45 / <span class="good">+1%</span></td>
			<td>6124 / <span class="good">+7%</span></td>
			<td>5 / <span class="good">+40%</span></td>
		</tr>
		<tr>
			<td>2014 - 12</td>
			<td>Le marbre</td>
			<td>10 / <span class="bad">-70%</span></td>
			<td>2141 / <span class="bad">-50%</span></td>
			<td>5 / <span class="bad">+0%</span></td>
		</tr>
		<tr>
			<td>2014 - 13</td>
			<td>Le froid</td>
			<td>20 / <span class="good">+100%</span></td>
			<td>6487 / <span class="good">+300%</span></td>
			<td>6 / <span class="good">+20%</span></td>
		</tr>
	</tbody>
</table>
{% endblock %}