{% extends "::front.html.twig" %}

{% block title %}
	{{ parent() }}Ajout Theme
{% endblock %}

{% block content %}

<h1>Consultation des thèmes</h1>

<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Intitulé</th>
			<th>Idée</th>
			<th>Prop.</th>
			<th>Votes.</th>
			<th>Réa.</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th colspan="6">Voir les thèmes précedents</th>
		</tr>
		
		<tr>
			<td>2014 - 1</td>
			<td>Les nuage</td>
			<td>20 / +10%</td>
			<td>20 / +10%</td>
			<td>20 / +10%</td>
		</tr>
	</tbody>
</table>
{% endblock %}