{% extends "::front.html.twig" %}

{% block title %}
    Connection
{% endblock %}

{% block content %}
    <div class="waBlock">
		<div class="container">
			
			
			{# On affiche les messages flash que définissent les contrôleurs du bundle #}
			{% if app.session.flashbag.all() %}
				{% for key, message in app.session.flashbag.all() %}
					<div class="alert alert-{{ key }}">
						{{ message|trans({}, 'FOSUserBundle') }}
					</div>
				{% endfor %}
			{% endif %}
			
			{# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
			{% block fos_user_content %}
			{% endblock fos_user_content %}
		</div>
	</div>
{% endblock %}

