{% extends "::front.html.twig" %}

{% block title %}
    Connection
{% endblock %}

{% block content %}
    <div class="waBlock">
		<div class="container">			
			{# On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle #}
			{% block fos_user_content %}
			{% endblock fos_user_content %}
		</div>
	</div>
{% endblock %}

