{% extends "::front.html.twig" %}

{% block title %}
	{{ parent() }}Home
{% endblock %}

{% block content %}
	<article>
		<div class="container">
			<h2>Liste des articles</h2>

			<ul>
				{% for article in articles %}
					<li>{{ article.title }}</li>
				{% endfor %}
			</ul>
		</div>
	</article>
{% endblock %}