{% extends "::front.html.twig" %}

{% block title %}
    {{ parent() }}Recherche
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <article class="waBlock">
        <div class="container">
            <h1>TODO</h1>
            <p><a href="https://trello.com/c/sXklkuHw">Liens vers la tâche Trello</a></p>

            <h3>Formulaire d'idée</h3>

        </div>
    </article>
{% endblock %}
