{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<h1>Remise à zéro de votre mot de passe WeArt</h1>
	
	<div class="col-md-3"></div>
	<div class="col-md-6">
		{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
	</div>
	<div class="col-md-3"></div>
{% endblock fos_user_content %}
